<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="container">
        <div class="border">
            <h3 class="sign">Sign-Up Now</h3>
            <hr>
            <div class="login_margin1">
                <p><b>Sign-Up Now! for Emangu</b></p>
            </div>
            <div class="login_margin_socialmedia">
                <p>
                    <%= link_to user_omniauth_authorize_path(:facebook) do %>
                        <button class="btn-facebook">  <i class="fa fa-facebook"></i> | Facebook</button>
                    <% end %>

                    <button class="btn-twitter"><i class="fa fa-twitter"></i> | Twitter</button>
                    <button class="btn-google-plus"><i class="fa fa-google-plus"></i> | Google +</button>
                    <br></p>
            </div>


            <div class="login_margin2">
                You are free to join and always will be..</p>
            </div>

            <div class="row form_margin">
                <% if resource.errors.any? %>
                    <div id="error_explanation" class="form-group col-md-9">
                        <h2><%= pluralize(resource.errors.count, "Error/s prohibiting") %></h2>

                        <ul>
                            <% resource.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
                <div class="form-group col-md-9">
                    <%= f.label :email %>
                    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Enter Your Email", :required=>true %>
                </div>
            </div>
            <div class="row form_margin">

                <div class="form-group col-md-9">
                    <%= f.label :password %>
                    <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i>
                    <% end %><br/>
                    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Enter Password", :required=>true %>

                </div>
            </div>
            <div class="row form_margin">

                <div class="form-group col-md-9">
                    <div><%= f.label :password_confirmation %><br/>
                        <%= f.password_field :password_confirmation, autocomplete: "off", :required=>true, :class => "form-control", :placeholder => "Confirm Password" %>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <%= f.submit "Sign up", :class => "btn btn-success" %>
            <%= link_to "Log in", new_session_path(resource_name), :class => 'btn btn-primary' %>
        </div>
    </div>
<% end %>
