<%= form_for(@theme) do |f| %>
  <% if @theme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@theme.errors.count, "error") %> prohibited this theme from being saved:</h2>

      <ul>
      <% @theme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-grou">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-grou">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
    <div class="form-group">
        <%= f.submit "Create Theme", :class=>"btn btn-primary" %>
        <%= link_to 'Back', themes_path, :class=>"btn btn-info" %>
    </div>
<% end %>
