
<br/>
<%= link_to 'Create New Portfolio', new_portfolio_path,  :class => "btn btn-success", :style => "width:150px;margin-left: 20px" %>
<div class="container-fluid" style="margin-left: 20px" >
    <% unless @portfolios.nil? %>
        <% @portfolios.each do |portfolio| %>
         <% if portfolio.user_id == current_user.id%>
         <br/>
<div class="row" style="border-top: 1px solid #D0D0D0; width:900px;">
<div class="col-md-4">
   <div class="media">
                       <a class="pull-left" href="#">
                          <%= image_tag("sample_icon.png")%>
                       </a>
                       </div>

                       </div>
                       <div class="media-body">

<div  class="col-md-8" style="margin-top: 30px">
<div class="h3"><%= portfolio.title %></div>
     <%= link_to 'Show', portfolio, :class => "btn btn-primary", :style => "width:150px" %>
        <%= link_to 'Destroy',  portfolio, :class => "btn btn-danger", :style => "width:150px", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      </div>

      </div>

    <% end %>
     <% end %>
     <% end %>

<br/>
</div>

