<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="container">
        <div class="border">
            <hr>
            <div class="login_margin1">
                <p><b>Sign-in Now! for Emangu</b>,</p>
            </div>

            <div class="login_margin_socialmedia">
                <p>
                    <%= link_to user_omniauth_authorize_path(:facebook) do %>
                        <button class="btn-facebook">  <i class="fa fa-facebook"></i> | Facebook</button>
                    <% end %>
                    <button class="btn-twitter"><i class="fa fa-twitter"></i> | Twitter</button>
                    <button class="btn-google-plus"><i class="fa fa-google-plus"></i> | Google +</button>
                    <br></p>
            </div>

            <div class="login_margin2">
                it's free and always will be..</p>
            </div>
            <div class="row form_margin">
                <div class="form-group col-md-9">
                    <% if resource.errors.any? %>
                        <div id="error_explanation" class="form-group col-md-9">
                            <h2><%= pluralize(resource.errors.count, "Error/s prohibiting") %></h2>

                            <ul>
                                <% resource.errors.full_messages.each do |msg| %>
                                    <li><%= msg %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                        <%= f.email_field :email, autofocus: true, :required => true, :class => "form-control", :placeholder => "Enter Email-id" %>
                    </div>
                </div>
            </div>
            <div class="row form_margin">
                <div class="form-group col-md-9">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <%= f.password_field :password, autocomplete: "off", :required => true, :class => "form-control", :placeholder => "Enter Your Password" %>
                    </div>
                </div>
            </div>
            <div class="row form_margin">
                <div class="form-group col-md-9">
                    <% if devise_mapping.rememberable? -%>
                        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
                    <% end %>
                    <label>&nbsp;&nbsp;&nbsp;</label>
                    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
                </div>
            </div>
            <div class="col-md-4"></div>
            <%= link_to "Sign up", new_registration_path(resource_name), :class => 'btn btn-primary' %>
            <%= f.submit "Log in", :class => "btn btn-success" %>
        </div>
    </div>

<% end %>