<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>
                All Posts
            </h1>
            <br/>
            <!-- Blog Entries Column -->
            <% @posts.each do |post| %>
                <!-- First Blog Post -->
                <div class="bg-info" style="padding:10px;">
                    <h2>
                        <%= link_to (truncate(post.title, length: 30)), post %>
                    </h2>

                    <p class="lead">
                        by <%= post.user.email %>
                    </p>

                    <p><br/><%= raw(post.body.truncate(100)); %></p>
                    <br/>
                    <%= link_to ("Read More"), post, :class => "btn btn-primary" %>

                    <span class="glyphicon glyphicon-chevron-right"></span>

                    <br/>

                    <p style="margin-top:5px;">
                        <span class="glyphicon glyphicon-time"></span> <%= time_ago_in_words(post.published_at) %> ago
                    </p>
                </div>
                <br/>

            <% end %>
        </div>
        </br>
        <%= render 'right_pannel' %>
    </div>

</div>

<hr>
<ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>
