<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %>
  </div>
    <div class="form-group">
        <%= f.submit "Create Site", :class=>"btn btn-primary" %>
        <%= link_to 'Back', sites_path, :class=>"btn btn-info" %>
    </div>
<% end %>
