<!DOCTYPE html>
<html>
<head>
    <title>Emangu</title>
    <%= favicon_link_tag 'favicon.png' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "style", media: "all" %>
    <%= csrf_meta_tags %>
</head>
<body>
<%= render 'common/header' %>
<div class="m-t-50">
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
</div>
<%= render 'common/footer' %>
</body>
</html>
