<!DOCTYPE html>
<html>
<head>
    <title>Emangu</title>
    <%= favicon_link_tag 'favicon.png' %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="Bigstores.asia is a part of Emangu actively used by development team. "/>
    <meta name="keywords" content="Emangu,Computer, Dell. Domain, Hosting, India travel, travel in India, cheap air tickets, cheap flights, flight, hotels, hotel, holidays, bus tickets, air travel, air tickets, holiday packages, travel packages, railways, trains, rail, MakeMyTrip India, Train Travel, Train Search, IRCTC, Indianrail, Reservation, PNR, Fare, Schedule, Train Route, Time Table, Railway, India, Indian, Indian Rail, Rail, Indian Railways, Travel, Tourism, Tourist, Tickets, Ticket, Lookup, Schedules, Running Status, Status, Accommodation, Seat, Seats, Seat Position, Layout, Map, Booking, Book, Timetable, Arrival, Departure, Availability, Nearest Station, Direct Trains, Indirect Trains, Best route, Fast Trains, Passenger Trains, Travel Time, Run Days, Available Classes, Surrounding Stations, ahmadhasankhan, ahmad hasan khan, facebook, linkedin"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "style", media: "all" %>
    <%= csrf_meta_tags %>
</head>
<body>
<%= render 'common/header' %>
<div class="m-t-50">
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
</div>
<%= render 'common/footer' %>
</body>
</html>
