<!DOCTYPE html>
<html>
<head>
    <title>Emangu</title>
    <%= favicon_link_tag 'favicon.png' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "style", media: "all" %>
    <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>

<% end %>
<%= render file: '/common/_header.html.erb' %>

<div class="m-t-50">
    <%= yield %>
</div>
<%= render file: '/common/_footer.html.erb' %>
</body>
</html>
